<div class="user_cover">
<h2><%= current_user.name %></h2>
<% if current_user.attended_events.upcoming.count > 0 %>
  <p>You have <%= pluralize(current_user.attended_events.upcoming.count, "upcoming event") %></p>
<% else %>
  <p>You have no upcoming events</p>
<% end %>
</div>

<div class="text-center">
<%= link_to "View my Profile", user_path(current_user), class: "btn btn-default" %> 
</div>

